In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
crime_df = pd.read_csv('/Users/mac/Downloads/crim/data/crime.csv')
streetlight_df = pd.read_csv('/Users/mac/Downloads/crim/data/streetlight.csv')
property_df = pd.read_csv('/Users/mac/Downloads/crim/data/property.csv')
wards_df = pd.read_csv('/Users/mac/Downloads/crim/data/Wards.csv')
police_df = pd.read_csv('/Users/mac/Downloads/crim/data/Boston_Police_Stations.csv')

In [3]:
crime_df

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,Lat,Long,class_0,class_1,class_2,class_3,class_4,class_5,wards
0,Investigate Person,9/29/19 03:45,2019,9,Sunday,3,42.367690,-71.065863,1,0,0,0,0,0,2.0
1,Investigate Person,9/29/19 01:30,2019,9,Sunday,1,42.373392,-71.036478,1,0,0,0,0,0,0.0
2,Investigate Person,9/29/19 03:19,2019,9,Sunday,3,42.311935,-71.073420,1,0,0,0,0,0,13.0
3,Medical Assistance,9/29/19 01:00,2019,9,Sunday,1,42.355942,-71.062583,1,0,0,0,0,0,4.0
4,Missing Person Reported,9/29/19 01:53,2019,9,Sunday,1,42.344036,-71.081177,1,0,0,0,0,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398911,Disorderly Conduct,7/22/15 22:00,2015,7,Wednesday,22,42.333391,-71.073120,0,0,0,0,0,1,NaN
398912,Offenses Against Child / Family,10/2/15 21:00,2015,10,Friday,21,42.311277,-71.089093,0,0,0,0,0,1,NaN
398913,Evading Fare,10/9/15 10:42,2015,10,Friday,10,42.355407,-71.063124,0,0,0,0,0,1,NaN
398914,Violations,7/29/16 18:20,2016,7,Friday,18,42.321770,-71.097798,0,0,0,0,0,1,NaN
398915,Violations,7/29/16 18:20,2016,7,Friday,18,42.321770,-71.097798,0,0,0,0,0,1,NaN

In [4]:
streetlight_df

             Lat       Long  wards
0      42.353159 -71.076044    4.0
1      42.353348 -71.075382    4.0
2      42.353521 -71.074775    4.0
3      42.353556 -71.074404    4.0
4      42.353811 -71.073621    4.0
...          ...        ...    ...
74060  42.334917 -71.080332    NaN
74061  42.334734 -71.079768    NaN
74062  42.301265 -71.107328    NaN
74063  42.301341 -71.107449    NaN
74064  42.301394 -71.107564    NaN

[74065 rows x 3 columns]

In [5]:
property_df

,PTYPE,LU,AV_LAND,AV_BLDG,AV_TOTAL,GROSS_TAX,LAND_SF,YR_BUILT,YR_REMOD,GROSS_AREA,LIVING_AREA,NUM_FLOORS,wards
0,102,CD,0,878200,878200,925623,789.0,1850.0,2006.0,789.0,789.0,1.0,5
1,102,CD,0,817600,817600,861750,752.0,1850.0,1981.0,752.0,752.0,1.0,5
2,102,CD,0,849500,849500,895373,792.0,1850.0,2016.0,792.0,792.0,1.0,5
3,102,CD,0,734400,734400,774058,720.0,1850.0,1981.0,720.0,720.0,1.0,5
4,102,CD,0,2162300,2162300,2279064,1482.0,1850.0,2014.0,1482.0,1482.0,1.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174663,105,R3,316200,706900,1023100,1078347,7380.0,1920.0,1990.0,4291.0,2834.0,2.5,22
174664,319,C,760800,1737700,2498500,6246250,12500.0,1947.0,2016.0,14520.0,7260.0,1.0,22
174665,985,E,1325400,841100,2166500,0,34125.0,1900.0,NaN,240.0,240.0,1.0,22
174666,985,E,1325400,841100,2166500,0,34125.0,1900.0,NaN,630.0,630.0,1.0,22
174667,985,E,1325400,841100,2166500,0,34125.0,1900.0,NaN,6516.0,6516.0,1.0,22

In [6]:
wards_df.sort_values(by=['WARD'],inplace=True)
wards_df.drop(['OBJECTID'],axis=1,inplace=True)
wards_df

    WARD  CNT_WARD   SHAPESTArea  SHAPESTLength
0      1        14  1.314264e+08  119239.372580
1      2         7  3.751537e+07   59588.394725
2      3         8  3.917341e+07   54946.494149
3      4        10  2.918275e+07   33724.007474
4      5        12  3.279699e+07   42505.549799
6      6         9  6.000757e+07   78986.190099
7      7        10  3.596305e+07   36979.656963
8      8         7  3.038907e+07   30643.116545
5      9         5  1.874285e+07   25653.929605
10    10         9  2.465275e+07   23308.195877
11    11        10  3.284195e+07   36124.951012
9     12         9  4.622159e+07   33929.152553
12    13        10  3.849732e+07   46404.636959
13    14        14  5.276993e+07   39902.634646
14    15         9  2.204063e+07   22619.198851
18    16        12  5.962863e+07   47259.359659
19    17        14  4.484371e+07   48757.193637
20    18        23  2.064029e+08   82761.542623
15    19        13  8.714230e+07   59812.302994
21    20        20  1.717987e+08   61855.618486
17    21        16  5.002225e+07   60638.427132
16    22        13  7.970536e+07   51676.313045

In [7]:
police_df

,X,Y,OBJECTID,BLDG_ID,BID,ADDRESS,POINT_X,POINT_Y,NAME,NEIGHBORHOOD,CITY,ZIP,FT_SQFT,STORY_HT,PARCEL_ID
0,-71.124269,42.256482,1,Bos_1809107000_B0,100639,1249 Hyde Park Ave,757882.716120,2.918710e+06,District E-18 Police Station,Hyde Park,Boston,2136,8585.0,2.0,1809107000
1,-71.148368,42.286786,2,Bos_2005719000_B0,112112,1708 Centre St,751313.455964,2.929725e+06,District E-5 Police Station,West Roxbury,Boston,2132,7708.0,2.0,2005719000
2,-71.038676,42.371058,3,Bos_0105699000_B0,131503,69 Paris St,780827.989455,2.960577e+06,District A-7 Police Station,East Boston,Boston,2128,5063.0,2.0,105699000
3,-71.060307,42.361825,4,Bos_0302626000_B0,136171,40 New Sudbury St,775000.193368,2.957181e+06,District A-1 Police Station,Boston,Boston,2114,6882.0,5.0,302626000
4,-71.150578,42.349395,5,Bos_2202387000_B0,145004,301 Washington St,750621.846127,2.952539e+06,District D-14 Police Station,Brighton,Boston,2135,8712.0,2.0,2202387000
5,-71.056047,42.376467,6,Bos_0202644020_B0,148316,20 Vine St,776123.775110,2.962523e+06,District A-15 Police Station,Charlestown,Boston,2129,NaN,NaN,202644020
6,-71.054936,42.341164,7,Bos_0600118000_B0,154919,101 W Broadway,776491.052919,2.949660e+06,District C-6 Police Station,South Boston,Boston,2127,8528.0,2.0,600118000
7,-71.069240,42.339440,8,Bos_0801170010_B0,162100,650 Harrison Ave,772627.277182,2.949011e+06,District D-4 Police Station,Boston,Boston,2118,12382.0,3.0,801170010
8,-71.090748,42.334192,9,Bos_0902771010_B0,163892,One Schroeder Plz,766821.655591,2.947071e+06,Boston Police Headquarters,Roxbury,Boston,2120,194000.0,4.0,902771010
9,-71.085684,42.328385,10,Bos_1201261000_B0,176508,2400 Washington St,768200.917596,2.944961e+06,District B-2 Police Station,Roxbury,Boston,2119,10809.0,3.0,1201261000
10,-71.104639,42.309722,11,Bos_1102261000_B0,180965,3345 Washington St,763106.941235,2.938136e+06,District E-13 Police Station,Jamaica Plain,Boston,2130,8312.0,2.0,1102261000
11,-71.091702,42.284729,12,Bos_1404623000_B0,186089,1165 Blue Hill Ave,766649.868861,2.929044e+06,District B-3 Police Station,Mattapan,Boston,2124,9740.0,1.5,1404623000
12,-71.059165,42.298066,13,Bos_1600673000_B0,189445,40 Gibson St,775429.012392,2.933948e+06,District C-11 Police Station,Dorchester,Boston,2122,15338.0,2.0,1600673000

In [8]:
print(crime_df['wards'].isnull().sum())
print(streetlight_df['wards'].isnull().sum())
print(property_df['wards'].isnull().sum())

1152
2024
0

In [9]:
crime_df = crime_df.dropna(subset=['wards'])
streetlight_df = streetlight_df.dropna(subset=['wards'])

In [10]:
wards_li = []
for i in crime_df['wards'].values: 
    wards_li.append([int(i)])
crime_df['wards'] = pd.DataFrame(np.array(wards_li))

wards_li = []
for i in streetlight_df['wards'].values: 
    wards_li.append([int(i)])
streetlight_df['wards'] = pd.DataFrame(np.array(wards_li))

/Users/mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [11]:
'''
When the 'OCCURRED_ON_DATE' is between Nov. 3 and March 8, it will be belong to 'winter time'.
And only when the time is in the range of lighting-up, it will be counted into vaild data.
(for streetlight-related model).
'''
winter_time = []
light_up = []
for i,j in zip(crime_df['OCCURRED_ON_DATE'],crime_df['HOUR']):
    li = i.split('/')
    day = int(li[0]) * 100 + int(li[1])
    if 308 >= day or day >= 1103:
        winter_time.append([1])
        if 0 <= int(j) < 6 or 16 <= int(j) <= 24:
            light_up.append([1])
        else:
            light_up.append([0])
    else:
        winter_time.append([0])
        if 0 <= int(j) < 6 or 17 <= int(j) <= 24:
            light_up.append([1])
        else:
            light_up.append([0])
            
crime_df['WINTER_TIME'] = pd.DataFrame(np.array(winter_time))
crime_df['LIGHT_UP'] = pd.DataFrame(np.array(light_up))
crime_df

/Users/mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,OFFENSE_CODE_GROUP,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,Lat,Long,class_0,class_1,class_2,class_3,class_4,class_5,wards,WINTER_TIME,LIGHT_UP
0,Investigate Person,9/29/19 03:45,2019,9,Sunday,3,42.367690,-71.065863,1,0,0,0,0,0,2,0,1
1,Investigate Person,9/29/19 01:30,2019,9,Sunday,1,42.373392,-71.036478,1,0,0,0,0,0,0,0,1
2,Investigate Person,9/29/19 03:19,2019,9,Sunday,3,42.311935,-71.073420,1,0,0,0,0,0,13,0,1
3,Medical Assistance,9/29/19 01:00,2019,9,Sunday,1,42.355942,-71.062583,1,0,0,0,0,0,4,0,1
4,Missing Person Reported,9/29/19 01:53,2019,9,Sunday,1,42.344036,-71.081177,1,0,0,0,0,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397759,Motor Vehicle Accident Response,7/15/15 19:45,2015,7,Wednesday,19,42.342342,-71.056333,0,0,0,0,0,1,8,0,1
397760,Motor Vehicle Accident Response,7/15/15 19:48,2015,7,Wednesday,19,42.302698,-71.066015,0,0,0,0,0,1,9,0,1
397761,Motor Vehicle Accident Response,7/15/15 14:14,2015,7,Wednesday,14,42.315085,-71.085088,0,0,0,0,0,1,4,0,0
397762,Motor Vehicle Accident Response,7/15/15 19:06,2015,7,Wednesday,19,42.287336,-71.087446,0,0,0,0,0,1,11,0,1
397763,Motor Vehicle Accident Response,7/15/15 18:40,2015,7,Wednesday,18,42.300823,-71.085899,0,0,0,0,0,1,11,0,1

In [12]:
def t_test(col_1,col_2):
    
    mean_1 = col_1.mean()
    std_1 = col_1.std()
    n_1 = len(col_1)
    
    mean_2 = col_2.mean()
    std_2 = col_2.std()
    n_2 = len(col_2)
    
    return np.abs(mean_1-mean_2) / (np.sqrt(std_1 **2 / n_1 + std_2 **2 / n_2))

def normalize(col):
    max_col = col.max()
    min_col = col.min()
    delta = max_col - min_col
    print(delta)
    col = (col - min_col)/(delta)
    return col

In [23]:
type_li = np.zeros((len(crime_df['OFFENSE_CODE_GROUP']),1), dtype=int)
crime_df_co = crime_df.copy()
for i in range(6):
    for j in crime_df_co['class_'+str(i)]:
        if j == 1:
            type_li[i] = i
crime_df_co['TYPE'] = pd.DataFrame(type_li)
crime_df_co['TYPE'].unique()

array([0, 1, 2, 3, 4, 5])

In [24]:
minute_li = []
for i in crime_df['OCCURRED_ON_DATE'].values:    
    minute_li.append([int(i[-2:])])
crime_df_co['MINUTE'] = pd.DataFrame(np.array(minute_li))

day_li = []
for i in crime_df['DAY_OF_WEEK'].values: 
    if i == 'Sunday':
        day_li.append([0])
    if i == 'Monday':
        day_li.append([1])
    if i == 'Tuesday':
        day_li.append([2])
    if i == 'Wednesday':
        day_li.append([3])
    if i == 'Thursday':
        day_li.append([4])
    if i == 'Friday':
        day_li.append([5])
    if i == 'Saturday':
        day_li.append([6]) 
crime_df_co['DAY_OF_WEEK'] = pd.DataFrame(np.array(day_li))
crime_df_co.drop(['OFFENSE_CODE_GROUP','OCCURRED_ON_DATE','Lat','Long','WINTER_TIME'],inplace=True)
crime_df_co

KeyError: "['OFFENSE_CODE_GROUP' 'OCCURRED_ON_DATE' 'Lat' 'Long' 'WINTER_TIME'] not found in axis"

In [ ]:
t_test_params = ['LIGHT_UP','MONTH','YEAR','DAY_OF_WEEK','HOUR']
for i in t_test_params:
    crime_df_co[i] = normalize(crime_df_co[i])
    type_with_light = t_test(crime_df_co['TYPE'],crime_df_co[i])
    print(i,type_with_light)
    break

crime_df_co

In [ ]:
crime_df_co = crime_df_co[crime_df_co['LIGHT_UP']==1]
crime_wards_df = pd.DataFrame(crime_df_co['wards'].value_counts())
crime_wards_df.columns = ['NUM_OF_CRIME']
crime_wards_df = crime_wards_df.sort_index()
crime_wards_df

In [ ]:
streetlight_df_co = streetlight_df.copy()
streetlight_df_co.drop(['Lat','Long'],axis=1,inplace=True)
streetlight_wards_df = pd.DataFrame(streetlight_df_co['wards'].value_counts())
streetlight_wards_df.columns = ['NUM_OF_LIGHTS']
streetlight_wards_df = streetlight_wards_df.sort_index()
streetlight_wards_df['SHAPESTArea'] = wards_df['SHAPESTArea'] / (1e+7)
streetlight_wards_df['DENSITY'] = streetlight_wards_df.apply(lambda x: x['NUM_OF_LIGHTS'] / x['SHAPESTArea'], axis=1)
streetlight_wards_df.drop(['SHAPESTArea'],axis=1,inplace=True)
streetlight_wards_df

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(streetlight_wards_df['DENSITY'].values.reshape(-1,1),crime_wards_df['NUM_OF_CRIME'].values.reshape(-1,1),test_size=0.2, random_state=42)

streetlight_to_crime_linear = LinearRegression().fit(X_train,y_train)
print('linear model score in train data: ',streetlight_to_crime_linear.score(X_train,y_train))
print('linear model score in test data: ',streetlight_to_crime_linear.score(X_test, y_test))

plt.figure(figsize=(15,8))
plt.scatter(X_train, y_train,label='train data')
plt.scatter(X_test, y_test,label='test data')
plt.plot(X_train,streetlight_to_crime_linear.predict(X_train),label='linear model')
plt.xlabel('streetlight number')
plt.ylabel('crime number')
plt.legend()
plt.show()